{{#partial "sample"}}
    <h1>메인페이지</h1>
{{/partial}}

<script type="text/x-mustache" id="sample">
    <h1>제대로 작동하는가</h1>
    {{#students}}
    <tr>
        <td>{{name}}</td>
        <td>{{age}}</td>
    </tr>
    {{/students}}
</script>
